@* 
    チャット入力欄
    説明、文字入力欄、送信ボタンだけのコンポーネント 
*@
@inherits InputBase

<InputTextArea class="form-control" @oninput="OnInput" @bind-Value="Text" placeholder="@Placeholder" rows="@Rows" />
<div class="col-4">
    <button class="mt-3 btn btn-primary" @onclick="OnButtonClicked" disabled="@IsDisableButton">@SubmitText</button>
    <button class="mt-3 ms-5 btn btn-primary" @onclick="RequestContinue" disabled="@IsSubmitted">続きを要求する</button>
</div>
@if (_isError)
{
    <p class="text-danger">APIへの送信に失敗したのでもう一回送信してください</p>
}

@code {

    // TODO:TrpgSessionPanel.razorから取ってくること

    /// <summary>入力例</summary>
    [Parameter]
    public string Placeholder { get; set; } = "質問を入力してください。";
    /// <summary>送信ボタン</summary>
    [Parameter]
    public string SubmitText { get; set; } = "送信";
    /// <summary>送信中</summary>
    [Parameter]
    [EditorRequired]
    public bool IsSubmitted { get; set; } = false;

    /// <summary>
    /// エラーが出たら表示し、ユーザーに再送を促す
    /// </summary>
    private bool _isError = false;

    /// <summary>
    /// 続きを要求するボタン
    /// </summary>
    /// <returns></returns>
    private async Task RequestContinue()
    {
        if (IsSubmitted)
        {
            return;
        }
        Text = "続きを書いて";

        await OnButtonClicked();    // 送信ボタンと同じ処理
    }
}
